nav {
  max-width: 1600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li a {
  text-decoration: none;
  color: #000000;
}
nav li {
  list-style: none;
}
nav .nav-list {
  display: flex;
  gap: 32px;
  max-width: 365px;
}
.btn {
  padding: 12.5px 16px 12.5px 16px;
  background-color: #30b868;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}
.btn:hover {
  background-color: blue;
  border: 1px solid red;
}
#banner {
  background-image: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#banner .banner-box {
  padding: 115.5px 120px 179.5px 120px;
}
#banner .btn2 {
  color: #30b868;
  padding: 8px 12px 8px;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
}
#banner .banner-box .banner-title {
  margin-top: 16px;
  margin-bottom: 16px;
}

#banner .banner-box .line-one {
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
#banner .banner-box .line-two {
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  color: #30b868;
  font-family: "Roboto", sans-serif;
}
.paragraph-area .paragraph {
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
  margin-top: 16px;
}
.two-btn {
  display: flex;
  justify-content: center;
}
.banner-box .btn3 {
  font-size: 16px;
  font-weight: 600;
  background-color: #30b868;
  color: #ffffff;
  padding: 16.5px 16px 16.5px 16px;
  border: none;
  border-radius: 5px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}
.banner-box .btn4 {
  font-size: 16px;
  font-weight: 600;
  background: transparent;
  color: #ffffff;
  padding: 16.5px 16px 16.5px 16px;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}
.btn3:hover {
  background-color: green;
}
.btn4:hover {
  background-color: gray;
}
