nav {
  max-width: 1600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav li a {
  text-decoration: none;
  color: #000000;
}
nav li {
  list-style: none;
}
nav .nav-list {
  display: flex;
  gap: 32px;
  max-width: 365px;
}
.btn {
  padding: 12.5px 16px 12.5px 16px;
  background-color: #30b868;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}
.btn:hover {
  background-color: blue;
  border: 1px solid red;
}
#banner {
  background-image: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#banner .banner-box {
  padding: 115.5px 120px 179.5px 120px;
}
#banner .btn2 {
  display: inline-flex;
  gap: 6px;
  color: #30b868;
  padding: 8px 12px 8px;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
}
#banner .banner-box .banner-title {
  margin-top: 16px;
  margin-bottom: 16px;
}

#banner .banner-box .line-one {
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
#banner .banner-box .line-two {
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  color: #30b868;
  font-family: "Roboto", sans-serif;
}
.paragraph-area .paragraph {
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
  margin-top: 16px;
}
.two-btn {
  display: flex;
  justify-content: center;
}
.banner-box .btn3 {
  font-size: 16px;
  font-weight: 600;
  background-color: #30b868;
  color: #ffffff;
  padding: 16.5px 16px 16.5px 16px;
  border: none;
  border-radius: 5px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}
.banner-box .btn4 {
  font-size: 16px;
  font-weight: 600;
  background: transparent;
  color: #ffffff;
  padding: 16.5px 16px 16.5px 16px;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}
.btn3:hover {
  background-color: green;
}
.btn4:hover {
  background-color: gray;
}
#note {
  max-width: 1600px;
  text-align: center;
}
#note .note-heading {
  max-width: 1360px;
  margin: 0px 120px 44px 120px;
}
#note .note-heading h1 {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  font-family: "Roboto", sans-serif;
}
#note .note-heading p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.card-section {
  max-width: 1360px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
.card {
  box-shadow: 0px 0px 8px 0px #0000000f;
  background-color:;
  width: 322px;
  border-radius: 8px;
}
.card-section .card img {
  width: 32px;
  height: 32px;
  margin-top: 69.5px;
  background-color: red;
  padding: 14px;
  border-radius: 50px;
}

.card-section .card .card-title {
  color: #001931;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  margin: 16px 24px 16px 24px;
}
.card-section .card .card-text {
  color: #627382;
  margin: 16px 24px 55px 24px;
}
#brain .brain-section {
  padding: 120px;
  display: flex;
  align-items: center;
  gap: 60px;
}

#brain .brain-section .img-container {
  width: 600px;
  height: 600px;
  border-radius: 12px;
}
.brain-section .right-hand h2 {
  color: #30b868;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}
.brain-section .right-hand h1 {
  color: #001931;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  margin-bottom: 16px;
}
.brain-section .right-hand p {
  color: #627382;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 40px;
}
.brain-section .right-hand .suggetions {
  color: #001931;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.right-hand .suggetions h4 {
  color: #001931;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  gap: 6px;
}
#early-section {
  align-items: center;
}
#early-section .early-box {
  background-color: #f7f6f2;
  max-width: 1360px;
  height: 384px;
  margin: 2px 120px 120px 120px;
  text-align: center;
}
#early-section .early-box .head-section {
  padding: 80px 40px 0px 40px;
}
#early-section .early-box .head-section h1 {
  color: #001931;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
}

#early-section .early-box .head-section p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
  font-family: "Roboto", sans-serif;
}
#early-section .early-box .buttom-section .btn5 {
  background-color: #469165;
  color: #ffffff;
  padding: 16.5px 10px 16.5px 16px;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
  border: none;
}
#early-section .early-box .buttom-section .btn5:hover {
  background-color: yellow;
}
#early-section .early-box .buttom-section p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

footer {
  max-width: 1660px;
  background-color: #001931;
  text-align: center;
}
.footer .footer-section {
  display: flex;
  justify-content: space-between;
  padding: 120px 120px 80px 120px;
  align-items: center;
}
.footer .footer-section .footer-h2 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.footer .footer-section .footer-img {
  display: flex;
  width: 20px;
  height: 20px;
  gap: 16px;
  background-color: #ffffff;
}
.footer .footer-end {
  max-width: 1360px;
  margin: 0 auto;
}
.footer .footer-end hr {
  color: #e5e7eb;
  margin-bottom: 30px;
}
.footer .footer-end p {
  color: #fafafa;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  padding-bottom: 30px;
}
